#top{
margin:0em;
padding:0em;
background-position: fixed;
background-color: #3b5998;
}

#headline {
padding-top: 30px;
padding-left:50px;
padding-right: 30px; 

}

#body{
padding-left:50px;
padding-right: 30px;
max-width: 50%;
line-height: 180%

}

#pquote{
font-size: 30px;
line-height: 50px;
color:#3b5998;
font-family:Georgia;

}
.quote{
font-size: 3em;
font-family:Georgia;
padding:0px;
margin:0px;
}

#section1{
float:left;
max-width: 40%;
}


#section2{
float:right;

}

#section3{
clear:both;
text-align: center;

}

#footer{
background-color:#3b5998; 
color:white;
text-align: center; 
}











